/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	/* по умолчанию */
	/* font-size: 16px;  */
}
body {
	line-height: 1.5;
	color: #4b4b4b;
	font-family: "Roboto";
	background-color: #fff;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ------------------------------ */
[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;
}
.wrapper {
}
/* -------------------------------Header-------------------------------- */
.header {
	background: url("../img/main/bg-duotone.png") center/cover no-repeat;
	padding-top: 26px;
}
.header__container {
	padding-bottom: 312px;
}
@media (max-width: 450px) {
	.header {
		padding-top: 10px;
	}
}
/* -------------------------------Header-top------------------------------- */
.header__top {
	margin-bottom: 27px;
}
.top-header {
	display: flex;
}
.top-header__logo {
	flex: 1 1 174px;
}
.top-header__body,
a {
	display: flex;
	font-weight: 700;
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #ffffff;
}

.header-contact {
}
.contact {
	display: flex;
	align-items: flex-start;
	column-gap: 10px;
	margin-right: 30px;
}
.contact__img {
}
.contact__body {
}
.contact__body-title {
}
.contact__body-text {
}
.contact__body-link {
}
.header-button:hover,
.header-button:focus {
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.41);
}

.header-button {
	font-weight: 700;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 14px 34px;
	background: #f2726f;
	border-radius: 8px;
	display: inline-block;
	text-align: center;
	transition: 0.3s ease-in;
}

@media (max-width: 950px) {
	.header-button {
		display: none;
	}
}
@media (max-width: 645px) {
	.top-header {
		flex-direction: column;
		row-gap: 20px;
	}
	.top-header__logo {
		flex: 0 1 auto;
	}
	.top-header__body {
		display: none;
	}
}

/* -------------------------------Header-bottom------------------------------- */
.header__bottom {
	margin-bottom: 126px;
}
.bottom-header {
	display: flex;
	align-items: center;
	min-height: 60px;
	padding: 10px 40px;
	background: #ffffff;
	border-radius: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #000000;
}
.bottom-header__nav {
	display: flex;
	flex: 1 1 560px;
}

.bottom-header__menu {
	display: flex;
}
.list__item:not(:last-child) {
	margin-right: 37px;
}
.list {
	display: flex;
}

.list__item {
	position: relative;
	cursor: pointer;
}
._shop button,
._services button  {
	background: white;
	cursor: pointer;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.5;
		letter-spacing: 0.15px;
		color: #000000;
}
._shop button::after,
._services button::after {
	content: "";
	display: inline-block;
	position: relative;
	top: -3px;
	right: -4px;
	width: 8px;
	height: 5px;
	padding-right: 10px;
	background: url(../img/main/point_bottom_24px.svg) top no-repeat;
}

._shop ul,
._services ul {
	margin-top: 30px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	width: 93px;
	height: 168px;
	background: rgb(255, 255, 255);
	left: -20px;
	list-style: none;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: all 0.4s ease;
}
._shop a,
._services a {
	color: black;
}
._services li,
._shop li {

	display: flex;
	justify-content: center;
	align-items: center;
}
._shop li:hover,
._services li:hover {
	width: 100%;
	border-radius: 45px;
	box-shadow: 0px 10px 13px -7px #000000,
	5px 5px 15px 5px rgba(0, 0, 0, 0);
	
}
._services button:focus+ul,
._shop button:focus+ul {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0px);
}

@media (max-width: 950px) {
	.list__item:not(:last-child) {
		margin-right: calc(15px + (37 - 15) * ((100vw - 768px) / (950 - 768)));
	}
	.header__bottom {
		margin-bottom: calc(30px + (126 - 30) * ((100vw - 320px) / (950 - 320)));
	}
}
@media (max-width: 750px) {
	.bottom-header__nav {
		display: none;
	}
	.bottom-header {
   	padding-left: 68px;
		justify-content: flex-end;	
		background: url("../img/main/burger.svg") top 13px left 23px/ 36px no-repeat, white;
	}
}
@media (max-width: 410px) {
	.bottom-header {
		min-height: 40px;
		padding: 0px 4px;
		justify-content: center;
		background: white;
	}
	.form-search__label {
		display: none;
	}
	.form-trash__icon {
		display: none;
	}
}
/* -------------------------------Header-form------------------------------- */
.bottom-header__form {
}
.form-search {
}
.form-search__input input {
	padding: 4px;
	background: #ffff;
	outline-color: white;
}
.form-search__input input::placeholder {
	text-align: center;
	width: 100%;
	visibility: hidden;
	font-size: 20px;
}
.form-search__input {
	display: flex;
	column-gap: 22px;
	cursor: pointer;
}
.form-search__label {
	cursor: pointer;
}
.form-search__label-icon {
}
.form-search__icon {
}
@media (max-width: 410px) {
	.form-search__input input::placeholder {
		outline: none;
		text-align: center;
		visibility: visible;
		font-size: 20px;
	}
	.form-search__input input {
		outline: none;
	}
}
/* -------------------------------Header-content------------------------------- */
.header__content {
}
.header__content-title {
	max-width: 583px;
	overflow-wrap: break-word;
	font-weight: 900;
	font-size: 56px;
	line-height: 1;
	color: #ffffff;
	margin-bottom: 48px;
}
.header__content-link {
	font-weight: 700;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 14px 34px;
	background: #f2726f;
	border-radius: 8px;
	display: inline-block;
	text-align: center;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
@media (max-width: 750px) {
	.header__content-title {
		font-size: calc(40px + (56 - 40) * ((100vw - 320px) / (750 - 320)));
	}
}
/* 
-------------------------------Main-------------------------------- */
.main {
}
/* --------------------------------who-we-are----------------------------------- */
.who-we-are {
	color: #f5f5f5;
	z-index: 5;
}
.who-we-are__container {
	
}
.who-we-are__body::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 40%;
	top: -109px;
	right: -76px;
	background: url("../img/who_we_are/stylize_circles.svg") right bottom/contain no-repeat;
}
.who-we-are__body {
	position: relative;
	margin-top: -80px;
	right: 0px;
	background: url(../img/who_we_are/blob2.svg) -30px 263px / contain no-repeat #5d62b5;
	border-radius: 40px;
	padding: 100px 87px 0px;
	max-height: 700px;
}
.who-we-are__header {
}
.block-title {
	max-width: 583px;
}
.who-we-are__header-logo {
}
.block-title__logo:not(:last-child) {
	margin-bottom: 33px;
}
.block-title__logo {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	padding-left: 33px;
	background: url("../img/who_we_are/white_overline_mark.svg") -2px -2px no-repeat;
}
.who-we-are__header-title {
	overflow-wrap: break-word;
}
.block-title__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.6;
	color: #ffffff;
	margin-bottom: 36px;
}
.who-we-are__content {
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}
.who-we-are__content-text:not(:last-child) {
	margin-bottom: 54px;
}
.who-we-are__content-text {
	max-width: 846px;
	max-height: 288px;
	overflow: hidden;
	overflow-wrap: break-word;
}
.who-we-are__content-img {
	position: relative;
	min-height: 420px;
	margin: 0px 0px -120px 0px;
}
.who-we-are__content-imge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	border-radius: 40px;
}

@media (max-width: 1050px) {
	.who-we-are__container {
		padding-right: calc(1px + (15 - 1) * ((100vw - 320px) / (1050 - 320)));
		padding-left: calc(1px + (15 - 1) * ((100vw - 320px) / (1050 - 320)));
	}
	.who-we-are__body {
		padding-top: calc(32px + (100 - 32) * ((100vw - 320px) / (1050 - 320)));
		padding-right: calc(20px + (87 - 20) * ((100vw - 320px) / (1050 - 320)));
		padding-left: calc(20px + (87 - 20) * ((100vw - 320px) / (1050 - 320)));
		height: calc(547px + (700 - 547) * ((100vw - 320px) / (1050 - 320)));
	}
	.who-we-are__header-title {
		font-size: calc(26px + (36 - 26) * ((100vw - 320px) / (1050 - 320)));
		margin-bottom: calc(26px + (36 - 26) * ((100vw - 320px) / (1050 - 320)));
	}
	.block-title__logo:not(:last-child) {
		margin-bottom: calc(20px + (33 - 20) * ((100vw - 320px) / (1050 - 320)));
	}
	.who-we-are__content-text:not(:last-child) {
		margin-bottom: calc(20px + (54 - 20) * ((100vw - 320px) / (1050 - 320)));
		overflow-wrap: break-word;
	}
}

/* ----------------------------promise---------------------------------- */
.promise {
	padding-top: 148px;
	
}

.promise__container {
	padding-top: 82px;
	margin-bottom: 122px;
}
/* -------------------Promise-header------------------------- */
.promise__header {
}
.promise__header-logo {
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5d62b5;
	padding-left: 32px;
	align-items: center;
	background: url("../img/promise_page/purpl_overline_mark.svg") -1px -1px no-repeat;
}
.promise__header-title {
	overflow-wrap: break-word;
	color: #000000;
	margin-bottom: 72px;
}
/* ---------------------Promise-items----------------------- */
.promise-items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
}
.items-block {
}
.items-block__item:not(:last-child) {
	margin-right: 24px;
}
.items-block__item {
	display: flex;
	column-gap: 23px;
	flex: 1 1 calc(33.333% - 16px);
	min-width: 270px;
}
.items-block__item-img img {
	flex: 0 0 63px;
}
.items-block__item-body {
}
.items-block__item-title:not(:last-child) {
	margin-bottom: 20px;
}
.items-block__item-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.3;
	color: #f2726f;
}
.items-block__item-text {
	overflow-wrap: break-word;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
/*  */
@media (max-width: 1050px) {
	.promise__header-title {
		margin-bottom: calc(35px + (72 - 35) * ((100vw - 320px) / (1050 - 320)));
	}
	/* Допилить отступ  */
	.promise {
		padding-top: calc(100px + (148 - 100) * ((100vw - 320px) / (1050 - 320)));
	}
}
/* 35px .promise__header-title*/
/* --------------------Dog-pag-----------------------*/
.dog-pag {
	background: url("../img/dog_page/tennis_ball.png") right 6px top 75px / auto no-repeat,
		url("../img/dog_page/line1.svg") right 48px top -5px / auto no-repeat,
		url("../img/dog_page/blob3.svg") 0px -1px no-repeat,
		url("../img/dog_page/stylize_circles.svg") -4px 123px no-repeat, #29c3be;
	height: 500px;
	position: relative;
}
.dog-pag__container {
	max-width: 1440px;
	display: flex;
	column-gap: 72px;
}
.dog-pag__img {
	position: relative;
	top: 44px;
	right: 16px;
}
.dog-pag__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 411px;
}
.dog-pag__content-title:not(:last-child) {
	margin-bottom: 45px;
}
.dog-pag__content-title {
	overflow-wrap: break-word;
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	color: #ffffff;
	margin-bottom: 45px;
}
.dog-pag__buttom:hover,
.dog-pag__buttom:focus {
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.41);
}

.dog-pag__buttom {
	align-self: flex-start;
	font-weight: 700;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 14px 34px;
	background: #f2726f;
	border-radius: 8px;
	display: inline-block;
	text-align: center;
	transition: 0.3s ease-in;
}
/* Понять нафига он нужен тут ??? */
@media (max-width: 1133px) {
	.dog-pag__img img {
		width: 500px;
	}
	.dog-pag__img {
   position: relative;
   top: 194px;
   right: 16px;
}
}
@media (max-width: 780px) {
	.dog-pag {
		background:  url(../img/dog_page/line1.svg) right 48px top -5px / auto no-repeat, url(../img/dog_page/blob3.svg) 0px -1px no-repeat, url(../img/dog_page/stylize_circles.svg) -4px 123px no-repeat, #29c3be;
	}
.dog-pag__container {
	flex-direction: column;
}
.dog-pag__content {
	padding: 0px;
	position: absolute;
	top: 15px;
	left: 10px;
}
	.dog-pag__img {
   position: relative;
   top: 194px;
   right: -116px;
}
}
@media (max-width: 638px) {
	.dog-pag {
		background: url(../img/dog_page/blob3.svg) 0px -1px no-repeat, url(../img/dog_page/stylize_circles.svg) -4px 123px no-repeat, #29c3be;
	}
.dog-pag__container {
	flex-direction: column;
}
.dog-pag__content {
	padding: 0px;
	position: absolute;
	top: 15px;
	left: 10px;
}
	.dog-pag__img {
   position: relative;
   top: 302px;
   right: -65px;
} 
	.dog-pag__img img {
   width: 324px;
} 
}
@media (max-width: 424px) {
	.dog-pag {
		background: url(../img/dog_page/blob3.svg) 0px -1px no-repeat, url(../img/dog_page/stylize_circles.svg) -4px 123px no-repeat, #29c3be;
	}
.dog-pag__container {
	flex-direction: column;
}
.dog-pag__content {
	padding: 0px;
	position: absolute;
	top: 15px;
	left: 10px;
}
	.dog-pag__img {
   position: relative;
   top: 333px;
   right: 3px;
} 
	.dog-pag__img img {
   width: 274px;
} 

}

/* ---------------------.dog-pag__content-title {
	font-size: 26px;
} -----Services------------------------------------ */

.services {
	padding: 110px 0px 128px 0px;
	background: url("../img/services_page/blob2.png") right -45px top -590px / auto no-repeat, #ffffff;
}

.services__container {
	padding: 0px 15px;
}
/* --------------------------Services-header----------------------------------- */
.services__header {
}
.block-title {
}
.services__header-logo {
	color: #5d62b5;
	background: url("../img/services_page/blue_overline_mark.svg") 1px -1px no-repeat;
}
.services__header-title {
	overflow-wrap: break-word;
	color: #000000;
	margin-bottom: 78px;
}

/* --------------------------Services-items----------------------------------- */
.services__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	margin-bottom: 66px;
}
.services__item {
	display: flex;
	padding: 0px 12px;
	flex: 1 1 33.333%;
}
.services__item-body:hover,
.services__item-body:focus {
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.services__item-body {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: 50px 44px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #ffffff;
	border-radius: 20px;
	min-width: 296px;
}
.services__item-img:not(:last-child) {
	margin-bottom: 33px;
}
.services__item-img {
}
.services__item-content {
}
.services__item-title {
}
.items-block__item-title {
}
.services__item-text {
}
.items-block__item-text {
}
/* ----------------------------------------------------------------------------- */
.services__button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.services__button-link:hover,
.services__button-link:focus {
	background-color: #5dfd3d;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.services__button-link {
	padding: 12px 34px;
	background-color: #f2726f;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	border-radius: 8px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	line-height: 2;
	cursor: pointer;
	transition: 0.3s ease-in;
}

/* -----------------------------------registration----------------------------------------- */
.registration {
	background: url("../img/form_page/bg_image.jpg") center/cover no-repeat;
}

.registration__container::before {
	content: "";
	width: 100%;
	height: 95%;
	position: absolute;
	top: -5px;
	left: -181px;
	z-index: 0;
	contain: content;
	background: url(../img/form_page/blob2.svg) top 0 left 0 / contain no-repeat,
		url(../img/form_page/stylize_circles.svg) top 236px right 605px /33% no-repeat;
}
.registration__container {
	padding: 130px 15px 210px 15px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	column-gap: 111px;
}
/* ----------------registration-form-------------------------- */

.registration-form {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 10;
	max-width: 585px;
	padding: 75.99px 57.44px 81px 57.44px;
	background: #5d62b5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
}
.registration-form__title:not(:last-child) {
	margin-bottom: 48px;
}
.registration-form__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #ffffff;
}
.form {
	display: flex;
	flex-wrap: wrap;
	gap: 22px;
}
.form-input ::placeholder {
	color: #ffff;
}
.form-input input {
	width: 100%;
	color: #fff;
	outline: none;
	background: #5d62b5;
	opacity: 0.8;
}
.form-input {
	flex: 1 1 224px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #ffffff;
	padding: 17px 23.5px;
	border-radius: 10px;
	width: 100%;
	max-height: 48px;
}
.registration-form__textarea textarea:not(:last-child) {
	margin-bottom: 25px;
}
.registration-form__textarea textarea {
	min-height: 180px;
	padding: 17px 29px;
	resize: none;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 10px;
	background-color: #5d62b5;
	opacity: 0.8;
	outline: none;
}
.registration-form__textarea ::placeholder {
	color: #ffffff;
}
.registration-form__textarea {
	display: flex;
	width: 100%;
	flex-direction: column;
}
/* ---------------button------------------- */
.form__button-link:hover,
.form__button-link:focus {
	background-color: #5dfd3d;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.form__button {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.form__button-link {
	padding: 12px 34px;
	background-color: #f2726f;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	border-radius: 8px;
	line-height: 2;
	cursor: pointer;
	transition: 0.3s ease-in;
}
/* ----------------registration-content--------------------------- */
.registration-content {
	display: flex;
	flex-direction: column;
	row-gap: 56px;


}

.registration-content__title {
	max-width: 324px;
	overflow-wrap: break-word;
	font-weight: 900;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	color: #ffffff;
}

.registration-content__label {
	max-width: 324px;
	overflow-wrap: break-word;
	font-weight: 900;
	font-size: 96px;
	line-height: 56px;
	color: #ffffff;
}
.registration-content__text {
	max-width: 324px;
	overflow-wrap: break-word;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
}

/* @media (max-width: 1528px) {
	.registration-form {
		padding-top: calc(43px + (76 - 43) * ((100vw - 320px) / (1528 - 320)));
		padding-right: calc(35px + (57 - 35) * ((100vw - 320px) / (1528 - 320)));
		padding-bottom: calc(37px + (81 - 37) * ((100vw - 320px) / (1528 - 320)));
		padding-left: calc(35px + (57 - 35) * ((100vw - 320px) / (1528 - 320)));
	} 
	.registration-form__title {
		font-size:  calc(30px + (36 - 30) * ((100vw - 320px) / (1528 - 320)));
	}
	.registration-form__title:not(:last-child) {
    	margin-bottom: calc(30px + (48 - 30) * ((100vw - 320px) / (1528 - 320)));
} */
@media (max-width: 1020px) {
	.registration-content {
		display: none;
	}
	.registration__container::before {
		display: none;
	}
}
/*-------------

-----------------Costumers----------------------------------- */
.costumers {
	background: url("../img/galary/blob2.png") top -945px left 0px / auto no-repeat;
}
.costumers__container {
	display: flex;
	column-gap: 24px;
	padding: 120px 15px 200px 15px;
}
/* ------------------------------Costumers-header---------------------------------- */
.costumers__header {
	min-width: 324px;
}
.block-title {
}
.costumers__header-logo {
	color: #5d62b5;
	background: url("../img/galary/blue_overline_mark.png") top -2px left 0px no-repeat;
}

.costumers__header-title {
	overflow-wrap: break-word;
	color: #000000;
	margin: 0;
}
.block-title__title {
}
/* ------------------------------Costumers-cards---------------------------------- */
.costumers-cards {
	display: flex;
	column-gap: 24px;
}
.card-items {
	flex-wrap: wrap;
	row-gap: 20px;
}
.card-item:hover,
.card-item:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.card-item {
	padding: 45px 45px 40px 45px;
	background: #ffffff;
	border-radius: 20px;
	flex: 1 1 324px;
	box-shadow: -7px 5px 5px -3px rgba(0,0,0,0.32);
}
.card-item__body {
	flex: 1 1 237px;
}
.card-item__bio:not(:last-child) {
	margin-bottom: 18px;
}
.card-item__bio {
	overflow-wrap: break-word;
}
.card-item__name {
	display: flex;
	align-items: center;
}
.card-item__name-img:not(:last-child) {
	margin-right: 17px;
}
.card-item__name-img {
}
.card-item__name-text {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #f2726f;
}
@media (max-width: 1020px) {
	.costumers__container {
		flex-direction: column;
		row-gap: 24px;
	}
	.costumers__header-title {
		font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1020 - 320)));
	}
}
@media (max-width: 765px) {
	.costumers-cards {
		flex-wrap: wrap;
		row-gap: 22px;
	}
}
@media (max-width: 375px) {
	.costumers__container {
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 100px;
		padding-top: 15px;
	}
	.card-item {
		min-width: 304px;
	}
}
/* -----------------------impact---------------------------------- */
.impact {
	background: #29c3be;
	position: relative;
	z-index: 1;

}


.impact__container {
	padding: 111px 15px 124px 15px;
	position: relative;

}
/* -----------------------impact-header--------------------------------- */
.impact-header {
	display: flex;
	justify-content: flex-start;
	position: relative;
}

.impact-header__title {
	max-width: 411px; 
	margin-right: 82px;
}
.impact__header-logo {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #ffffff;
}

.impact__header-title {
	overflow-wrap: break-word;
	margin-bottom: 75px;
}
.impact-header__img img {
	max-width: 498px;
	border-radius: 40px;
}

.impact-header__img {
	position: absolute;
	top: -200px;
	right: 0px;
}
/* -----------------------impact-bottom--------------------------------- */
.impact-bottom {
}
/* -----------------------impact-bottom-items-------------------------------- */
.impact-bottom__items {
}
.impact-items {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}
.impact-items__item {
	display: flex;
	align-items: flex-end;
	flex: 1 1 237px;
	column-gap: 10px;
}
.impact-items__img {
	max-width: 498px;
}
/* 498 */
.impact-items__body {
	min-width: 149px;
}
.impact-items__body-label {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	color: #ffffff;
}
.impact-items__body-text {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #5d62b5;
}
@media (max-width: 1440px) {
	.impact__container {
		padding-top: calc(26px + (111 - 26) * ((100vw - 320px) / (1440 - 320)));
		padding-bottom:  calc(28px + (124 - 28) * ((100vw - 320px) / (1440 - 320)));
	} 
	.impact__header-title {
    margin-bottom: calc(25px + (75 - 25) * ((100vw - 320px) / (1440 - 320)));
}
}
@media (max-width: 900px) {
	.impact-header__img {
		position: absolute;
		top: -200px;
		right: 0px;
	}
	.impact-header__img img {
		width: 399px;
	}
}
@media (max-width: 768px) {
	.impact-header__img {
		position: absolute;
		top: -158px;
   	right: 14px;
	}
	.impact-header__img img {
		width: 290px;
	}
	.impact__header-title {
    font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (768 - 320)));
} 
.impact-items {
    column-gap: 15px;
	 row-gap: 24px;
}
.impact-items__item {
    display: flex;
    align-items: flex-end;
    flex: 1 1 177px;
    column-gap: 10px;
	 
}
.impact-items__body {
    min-width: 100px;
}
}
@media (max-width: 480px) {
.impact-header__img img {
	width: 170px;
	}
.impact-header__img {
	position: absolute;
		top: -100px;
		right: -9px;
	}
.impact-items__body-label {
     font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (768 - 320)));
}
.impact-items__body-text {
font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (768 - 320)));
}
.impact-items__img img {
    width: 63px;
}
}
@media (max-width: 400px) {
	.impact-bottom__items {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.impact-items__item {
		flex: 1 1 30px;
		row-gap: 10px;
		text-align: start;
	}
	
}
